/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body spacing */
body {
  font-family: Arial;
  padding-top: 70px; /* prevents overlap */
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  z-index: 1000;
}

/* Content */
.content {
  padding: 20px;
  height: 1500px;
}